<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>
    </head>
    <body>
        This is our EJS page
        <p>our users are</p>
        <div style="max-width: 400px;">
            <%- include('partials/login.ejs') %>
            
        </div>
</body>
</html>