<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="login-wrapper">
        <form class="login-form" action="action_page.php" method="post">
            
            <h2 class="login-title">Sign Up</h2>
            <div class="input-group">
                <!-- <label for="uname">Email</label> -->
                <input type="text" placeholder="email" name="uname" required>
            </div>
            <div class="input-group">
                <!-- <label for="psw">Password</label> -->
                <input type="password" placeholder="password" name="psw" required>
            </div>
            <div class="input-group">
                <!-- <label for="psw">confirm password</label> -->
                <input type="password" placeholder="confirm password" name="psw" required>
            </div>
            <button type="submit">Sign UP</button>
            <div class="login-options">
                <label>
                    <!-- <input type="checkbox" checked="checked" name="remember"> Remember me -->
                </label>
                <span class="psw"><a href="/user/login">already have account?</a></span>
                
            </div>
            
        </form>
    </div>
</body>

<style>

</style>
</html>